* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkmagenta;
}

/* CSS HEADER*/
header > h1{
    text-align: center;
    color: darkviolet;
    font-size: 60px;
}

div.page{
    width: 50%;
    background-color: none;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

div.page >img{
   width: 100%;
   text-align: center;
}

nav{
    background-color: blue;
    padding: 1%;
    width: auto;
}

nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
        

}

nav > ul > li >a{
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

nav > ul > li >a:hover{
    color: purple;
}
